<div layout="vertical" layout-fill>
    <md-content flex>
        <div ng-header title="Sign up"></div>
        <div layout="row">
        <div flex="30"></div>
        <div flex="33">

        <div layout="row">
            <md-input-container flex>
                <label>Username</label>
                <input ng-model="firstname">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <label>Name</label>
                <input ng-model="lastname">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <label>Password</label>
                <input ng-model="password">
            </md-input-container>
        </div>
        <md-input-container>
            <md-button class="md-raised md-primary">Register</md-button>
        </md-input-container>
        </div>
        <div flex="33"></div>
        </div>
    </md-content>

</div>
