<!-- <header ng-include="'app/components/navbar/navbar.html'"></header> -->
<div ng-header title="Tasks"></div>
<md-content>
  <div layout="row">
    <div flex="20">
    </div>
    <md-list class="center-panel" flex="60">
      <md-list-item class="md-2-line" ng-repeat="item in tasks">
        <div layout="row" layout-fill>
          
          <md-checkbox ng-model="item.done"></md-checkbox>
          <div class="md-list-item-text">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
        </div>
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>
  </div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" ng-click="redirect('/task')">
  <fa name="plus">
</md-button>
