  <md-content>
    <!-- <header ng-include="'app/components/navbar/navbar.html'"></header> -->
    <div ng-header title="Task"></div>

    <div layout="row">
      <div flex="20"></div>
      <div class="center-panel" flex="60">
        <form layout-padding>
          <md-input-container>
            <label>Title</label>
            <input ng-model="task.name"/>
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <textarea ng-model="task.description"></textarea>
          </md-input-container>
          <md-input-container>
            <label>ETA</label>
            <input type="number" ng-model="task.estimatedTime"/>
          </md-input-container>
          <md-input-container>
            <label>Deadline</label>
            <input type="date" ng-model="task.deadline"/>
          </md-input-container>
          <md-chips ng-model="task.tags"></md-chips>
        </form>
      </div>
    </div>
    <md-button ng-click="addClick()" class="md-fab md-fab-bottom-right" aria-label="FAB">
      <fa name="plus">
    </md-button>
</md-content>
